.productCard {
  padding: 1rem;
  background-color: white;
  transform: scale(1);
  transition: 0.15s all ease;
}

.productCard:hover {
  z-index: 2;
  padding: 1rem;
  transform: scale(1.05);
  background-color: #e4f5ff;
  border-radius: 5px;
}
